/******************** GENERAL ********************/

@font-face {
    font-family: "Roboto Condensed";
    src: url("../police/Roboto_Condensed/RobotoCondensed-Regular.ttf");
}

@font-face {
    font-family: "Roboto Condensed Bold";
    src: url("../police/Roboto_Condensed/RobotoCondensed-Bold.ttf");
}

body {

    font-family: "Roboto Condensed", sans-serif;
    font-size: 30px;

    color: white;

    background-color: black;
}

#header {

    height: 70px;

    display: flex;
    align-items: center;

    margin: 0 5%;
}

#header > .title {

    background-image: url("../images/logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    width: 120px;
}

#header > .title > a {

    font-family: "Roboto Condensed Bold", sans-serif;

    padding: 100%;

    color: #E50814;

    text-decoration: none;
}

/******************** HOME ********************/

#panel-admin {

    position: absolute;

    top: 20px;
    right: 30px;
}

#profile {

    opacity: 0;
}

#profile > .container-profile {

    height: 85%;
}

#profile > .container-profile > .title-profile {

    font-size: 39px;

    margin-bottom: .67em;
}

#profile > .container-profile > .user-profile > .picture-user-profile-container > .picture-user-profile {

    height: 140px;
    width: 140px;

    border-radius: 4px;

    background-image: url("../images/alexis.png");
    background-size: cover;

    overflow: hidden;
}

#profile > .container-profile > .user-profile > .picture-user-profile-container > .picture-user-profile > a{

    padding: 100%;
}

#profile > .container-profile > .user-profile > .username-profile-container > .username-profile {

    color: grey;

    font-size: 20px;

    margin: .6em 0;
}







@media all AND (max-width: 500px){

    #panel-admin {

        position: absolute;

        font-size: 20px;

        top: 20px;
        right: 30px;
    }
}


















